html {
    margin 0
    padding 0
    background-color #000000
    color #FFFFFF

    head,
    body {
        margin 0
        padding 0
        background-color #000000
        color #FFFFFF
        min-width 750px

        textarea {
            background-color #000000 !important
            color #FFFFFF !important
        }

        table {
            background-color #000000 !important

            thead,
            tbody,
            tfoot {
                td {
                    color #FFFFFF !important
                }
            }
        }

        .progress {
            border-radius 0
        }
    }
}